 
 
 header{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #7EEEFD;
    justify-content: center; /* Centrer horizontalement le contenu */
    align-items: center; /* Centrer verticalement le contenu */
} 

nav{
    text-align: center;
    width: 188;
    height: 42px;
    margin-left: 900px;
    
    
}
header a{
    font-size: 33px;
    margin-left: 33px;
    color: white;
    text-decoration: none;
    font-family: Inria Serif;
}
button{
    color:#7EEEFD ;
    width: 126px;
    height: 54px;
    background-color: white;    
    font-size: 17px;
    border-color: white;
    margin-left: 50px;
    font-weight: bold;
    font-family: Inria Serif;
}
/* baniere */
.baniere{
    width: 100%;
    height: 650px;
    background-size: cover;
    margin-top: -40px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('baniere.png');  

}
.baniere p{
    width: 493;
    height: 104;
    font-size: 22px;
    font-family: Inria Serif;
    color: white;
    margin-left: 90px;
}
.baniere h1{
    padding-top: 100px;
    font-size: 47px;
    color: white;
    font-weight: bold;
    margin-left: 90px;
}
/* first section */
.first_section {
    display: flex;
}
.first_section h1{
    color:#7EEEFD;
    font-size: 40px;
    margin-left: 75px;
}
.first_section p{
    font-size: 25px;
    margin-left: 75px;
    margin-top: -10px;
   font-family: 'Times New Roman', Times, serif;
}
.section_mission{
    width: 608px;
    height: 266px;
    border: 2px solid #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-left: 75px;
}

.paragraphe_mission .mission{
    margin-top: -10px;
  
}
.mission{
    margin-left:75px ;


}
.paragraphe_vision .mission{
    margin-top: -10px;
  

}


.section_mission h2{
    color: #7EEEFD;
    margin-left: 75px;
    margin-bottom: 40px;
    margin-left: -222px;
}
.section_vision{
    width: 608px;
    height: 266px;
    border: 2px solid #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-left: 75px;
    margin-top: 40px;

}
.first_vision p{
    font-size: 25px;
    margin-left: 75px;
    /* margin-top: -60px; */
   font-family: 'Times New Roman', Times, serif;
}
.section_vision h2{
    color: #7EEEFD;
    margin-left: -242px;
    
}
.img .photo{
    width: 660px;
    height:551px;
    margin-left: 200px;
    margin-top: 160px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
   
}
.Contact{
    margin-left: 200px;
    margin-top: 20px;
}
.email{
    margin-left: 500px;
    margin-top: -60px;
}
/* section statistique */
.statistic{
    display: flex;
    width: 92%;
    height: 207px;
    border: 2px solid #7EEEFD;
    margin-left: 70px;
    background-color: #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;

}
.nombre p{
    font-size: 29px;
    margin-top: -20px;
    font-family:Inria Serif;
    font-weight: 100;
}

.nombre {
    margin-left: 160px;
}
.nombre h1{
    color: #BA2727;
    font-size: 47px;
   
}
/* section actualite */
.actualite img{
    width: 148px;
    height:148px ;
    border-radius: 100px;
    margin-left: 110px;
    margin-top: 30px;
}
.actualite {
    margin-left: 200px;
    margin-top: 200px;
    width: 400px;
    height: 573px;
    border: 2px solid #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.actualite p{
    font-size: 25px;
    margin-left: 70px;
}
.actualite h1{
    font-size: 39px;
    color: #7EEEFD;
    margin-left: 100px;

}
.actualite button{
    width: 99px;
    height: 44px;
    color: black;
    border: 1px solid black;
    margin-left: 72px;
}
.events{
    display: flex;
}
/* evenement */
.Evenement{
    margin-left: 45px;
    margin-top: 100px;
    width: 400px;
    height: 573px;
    border: 2px solid #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.Evenement button{
    width: 99px;
    height: 44px;
    color: black;
    border: 1px solid black;
    margin-left: 72px;
}
.Evenement h1{
    font-size: 39px;
    color: #7EEEFD;
    margin-left: 100px;

}

.Evenement img{
    width: 148px;
    height:148px ;
    border-radius: 100px;
    margin-left: 110px;
    margin-top: 30px;
}
.Evenement p{
    font-size: 25px;
    margin-left: 70px;
}
/* Annonce */
.annonce img{
    width: 148px;
    height:148px ;
    border-radius: 100px;
    margin-left: 110px;
    margin-top: 30px;
}
.annonce {
    margin-left: 50px;
    margin-top: 200px;
    width: 400px;
    height: 573px;
    border: 2px solid #7EEEFD;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.annonce p{
    font-size: 25px;
    margin-left: 70px;
}
.annonce h1{
    font-size: 39px;
    color: #7EEEFD;
    margin-left: 100px;

}
.annonce button{
    width: 99px;
    height: 44px;
    color: black;
    border: 1px solid black;
    margin-left: 72px;
}
/* section proffesseur */

.proffesseur{
    display: flex;
}
.profs{
    position: relative;
    margin-top: 140px;
    margin-left: 190px;
}
.profs img{
    position: absolute;
    width: 200px;
    height:200px ;
    border-radius: 100px;
    margin-left: 66px;
    margin-top: -75px;
}
.nom_specialite{
  width: 340px; 
  height: 270px; 
  border: 1px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius:25px ;
  
  
}
.nom_specialite h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 140px;
}
.nom_specialite p {
    font-size: 27px;
    color: #7EEEFD;
    text-align: center;
}
 h2{
    text-align: center;
    color: #7EEEFD;
    font-size: 39px;
    margin-top: 80px;
}
/* temoignage */
.temoignage{
    display: flex;
}
.ils_temoignent{
    width: 565px;
    height: 572px;
    border: 1px solid black;
    margin-left: 190px;
    margin-top: 100px;
    
}
.ils_temoignent img{
    width: 565px;
    height: 277px;
 object-fit: none;

}
.ils_temoignent p{
    font-size: 27px;
    color: #766A6A;
    margin-left: 130px;

}
.ils_temoignent h1{
    font-size: 31px;
    text-align: center;
}
.ils_temoignent  h3{
    font-size: 23px;
    text-align: center;
}
/* partenaires */
.partenaires img{
    width: 69px;
    height: 90px;
    margin-left: 190px;
}
.partenaire{
    display: flex;
}
/*  footer */
footer{
    width: 100%;
    height: 433px;
    background-color: black;
    margin-top: 55px;
}
.elements_footer p{
    color: white;
    font-size: 30px;
}
.elements_footer h1{
    color: white;
}
.ecriture{
    margin-left: 130px;
   margin-top: 30px;
}
.logo{
     margin-top: 100px; 
    margin-left: 900px;
    
}
.logo img{
    margin-left: 10px;
}

.elements_footer{
    display: flex;
}
.last{
    color: white;
    margin-left: 910px;
}